@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
 
}

body {
  font-family: 'Poppins', sans-serif;
  background-color:#161616 ;
  height: 100vh;
  background-image: url('./images/lowpoly.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.heading p{
  margin-bottom:10px;
  margin-top:10px;
}

.workout {
  z-index: 900;
  text-align:left;
  border-radius:20px ;
  color:#fff;
  background-color: #161616;
  margin: 10px 0;
  padding: 20px 0 10px;
  border: 1px solid #d4ff2a;
  position: relative;
}

.workout div, h2 {margin-left: 30px;}

.workout button {
  margin-right: 10px;
  margin-top: 10px;
}





.workout .close {
  font-size:25px;
  border-radius:20px ;
  color:#fff;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

.workout  .down{
  font-size:25px;
  color:#fff;
  position: absolute;
  right: 15px;
  bottom:10px;
  cursor: pointer;
  border: none;
  background: none;
}

.workout .edit{
  font-size:25px;
  color:#fff;
  position: absolute;
  right: 65px;
  top:7px;
  cursor: pointer;
  border: none;
  background: none;

}

.workout .add{
  font-size:25px;
  color:#fff;
  position: absolute;
  right: 125px;
  top:7px;
  cursor: pointer;
  border: none;
  background: none;
}

.workout .add :hover,.workout .edit :hover, .workout .close :hover,.workout .down :hover{
  color:#4d3ca6;

}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}


.container {
  width: 100%;
  
  margin: 0 auto;
  padding: 0 0px;
  text-align: center;
}


.form {
  width: 70%;
  margin: 0 auto;
}

.content-wo{
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  width:40%;
  margin: 0 auto;
  
  }

.content{
display: flex;
flex-direction: column;
width:40%;
margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 40%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}



.btn {
  padding: 10px 20px;
  border: 1px solid #4d3ca6;
  border-radius: 5px;
  background: #181818;
  color: white;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.btn svg {
  margin-right: 8px;
}

.btn p{
  margin-right: 8px;
  
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 40%;
  margin-left: 30%;
  margin-bottom: 20px;
  text-align: center;
}

.user{
  border-radius:30px;
  margin-right: 30px;
}

.btn:hover {
  transform: scale(0.98);
  color: #4d3ca6;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.top-btn{
  color: #fff;
  position: fixed;
  background-color: #161616;
  bottom: 50px;
  right: 50px;
  height: 70px;
  width: 70px;
  border: 2px solid #4d3ca6;
  border-radius: 50%;
  font-size:40px;
}

.workout-input{
  width: 40%;
  height:10px;
  padding: 10px;
  margin-top:10px;
  margin-left: 30px;
  margin-right: 30px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.top-btn.active{}

.top-btn:hover{
  transform: scale(0.98);
  color:#4d3ca6;
}
@media(max-width: 900px){
  .workout {
    border-radius:20px ;
    background-color: #161616;
    border: 2px solid #d4ff2a;
    margin: 10px 0;
    padding: 20px 0 10px;
    position: relative;
  }
  
  

  .workout .close {
    border-radius:20px ;
    top: 10px;
    right: 15px;
    cursor: pointer;
    border: none;
    background: none;
  }

  .content{
    display: flex;
    flex-direction: column;
    width:90%;
    margin: 0 auto;
    padding-bottom: 100px;
    }
  
  .content-wo{
    display: flex;
    flex-direction: column;
    width:90%;
    margin: 0 auto;
    padding-bottom: 100px;


  }

  .form {
    width: 90%;
  }


  .form-group input,
  .form-group textarea,
  .form-group select {
  width: 70%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}


}




@media (max-width: 600px) {
  .workout {
    border-radius:20px ;
    background-color: #161616;
    border: 2px solid #d4ff2a;
    margin: 10px 0;
    padding: 20px 0 10px;
    position: relative;
  }
  
  .workout .close {
    border-radius:20px ;
    top: 10px;
    right: 15px;
    cursor: pointer;
    border: none;
    background: none;
  }

  .content{
    display: flex;
    flex-direction: column;
    width:90%;
    margin: 0 auto;
    padding-bottom: 100px;
    }
  
  .content-wo{
    display: flex;
    flex-direction: column;
    width:90%;
    margin: 0 auto;
    padding-bottom: 100px;


  }

  .form {
    width: 90%;
  }


  .form-group input,
  .form-group textarea,
  .form-group select {
  width: 70%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

  .top-btn{
    height: 40px;
    width: 40px;
    bottom: 30px;
  right: 30px;
    opacity: 0.5;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .user{
    margin-right: 10px;

  }

  .heading p {
    font-size: 1.5rem;
    
  }

  .workout-input{
    width: 60%;

}
}